extends ../layout

block styles
  .style

block body
  if !myself
    div
      p
        if !isFavorite
          a(href='/makefavorite/' + username) Make favorite
        if isFavorite
          h3 Favorite member!
  div
    p Profile picture:
    p Profile message:
    hr
  div
    p Personal information:
    p Username: #{username}
    if myself
      p Email: #{email}
    p Sex: #{sex}
    p Age: #{age}
    hr
  if myself
    div
      p Favorite members:
        for favoriteMember in favoriteMembers
          h4 #{favoriteMember.favoriteMemberUsername}
      hr
    div
      p Suggested members:
      hr
    div
      p Saved searches: