extends ../layout

block styles
  .style

block body

  div
    p Search results:
    hr
  div
    for user in users
      p Username: #{user.username}
      p Sex: #{user.sex}
      p Age: #{user.age}
      p
      a(href='/user/profile/' + user.username) View profile
      hr
  div
    Label Page: 
    - for (var p = 1; p <= numberOfResults / 2 + numberOfResults % 2; p++)
      if p != page
        a(href='/searchmembers/results/page/' + p) #{p}
      if p == page
        span #{p}
